:root {
  --mainColor: #eee
}

.app_index {
  color: green;
  height: 300px;
  font-family: 'transformericon-font';
  background: var(--mainColor) url('./images/bg.jpg') no-repeat;

  & > button {
    color: red;
  }
}